@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
    .team-list-item,
    .particulars-item {
        width: calc((100% - 30px) / 2);
    }
    .clients-list-box {
        width: calc((100% - 60px) / 3);
    }
    .hero {
        background-image: linear-gradient(
                to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url("../images/hero_background-tablet.jpg");
        padding: 118px 0;
        max-width: 768px;
    }
    .hero-title {
        font-size: 26px;
        line-height: 1.61;
        max-width: 360px;
    }
    .header-list {
        display: flex;
        gap: 50px;
        margin-left: auto;
    }
    .header-list-tablet {
        gap: 10px;
        flex-direction: column;
    }
    .header-list-tablet .header-link {
        padding: 0;
    }
    .header-logo.position {
        margin-right: 88px;
        padding: 26px 0 22px 0;
    }
    .menu-open {
        display: none;
    }
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .hero {
            background-image: url("../images/hero_background-tablet@2x.jpg");
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer-tablet {
        display: flex;
        gap: 165px;
    }
    .email-input {
        width: 450px;
    }
}
